spring:
  datasource:
    url: jdbc:mysql:///dubbo_student
    username: root
    password: 123
    driver-class-name: com.mysql.jdbc.Driver

dubbo:
  application:
    name: stu_service
  registry:
    address: zookeeper://192.168.59.131:2181
  protocol:
    port: 20882
  consumer:
    check: false
server:
  port: 8082